<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="crearUsuario()">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="cargarUsuarios()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="cargando" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando usuarios...</p>
  </div>

  <ion-list *ngIf="!cargando">
    <ion-item-sliding *ngFor="let user of usuarios">

      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" style="font-size: 40px;"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ user.name }}</h2>
          <p>Matrícula: {{ user.matricula }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editarUsuario(user)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminarUsuario(user)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <div *ngIf="!cargando && usuarios.length === 0" class="ion-text-center ion-padding">
    <ion-icon name="people-outline" style="font-size: 64px; color: gray;"></ion-icon>
    <p>No hay usuarios registrados</p>
    <ion-button (click)="crearUsuario()">Crear primer usuario</ion-button>
  </div>

</ion-content>